<header>
  <div class="max-w-3xl mx-auto text-center pt-10 pb-8">
    <h1 class="text-base-800 font-medium md:text-4xl text-3xl">
      Find a business in Ardmore, OK
    </h1>
    <div class="flex justify-center flex-wrap gap-3 mt-4">
      <a
        class="px-4.5 font-medium h-9 text-xs bg-brand-orange text-white rounded-full flex items-center justify-center hover:opacity-90 duration-300 w-fit"
        href="/add-your-business">Add your business
      </a>
      <a
        class="px-4.5 font-medium h-9 text-xs bg-brand-teal text-white rounded-full flex items-center justify-center hover:opacity-90 duration-300 w-fit"
        href="mailto:admin@ardmore.directory">Contact
      </a>
    </div>
  </div>
</header>
